/* SECTION banner */

.banner {
  padding-top: 200px;
  background: url(../img/banner.jpg) center center no-repeat;
  background-size: cover;
}

.banner__ttl {
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: rgb(0, 0, 0);
  max-width: 410px;
  margin-bottom: 45px;
  z-index: 15;
}

.banner__ttl span {
  font-weight: bold;
  color: rgb(240, 109, 110);
  z-index: 15;
}

.banner__text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgb(61, 61, 57);
  margin-bottom: 49px;
  max-width: 350px;
  z-index: 15;
}

.view-btn {
  position: relative;
  display: block;
  text-decoration: none;
  width: 149px;
  height: 50px;
  border: solid 1px $deepYellowColor;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  letter-spacing: normal;
  color: rgb(61, 61, 57);
  z-index: 15;
}

.view-btn span {
  z-index: 25;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  top: 0;
}

.view-btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: $deepYellowColor;
  -webkit-transition: width .3s;
  transition: width .3s;
  z-index: 3;
}

.view-btn:hover:before {
  width: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  margin: 154px 0 0;
  padding-bottom: 24px;
}

.navigation span {
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  border: solid 2px rgba(0, 0, 0, .5);
  border-radius: 50%;
  transition: border-color $trsTime;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation span:hover {
  border-color: rgba(0, 0, 0, .7);
  ;
}

.navigation span.active {
  background-color: rgba(0, 0, 0, .5);
  border-color: transparent;
}