/* SECTION check */
.check {
  background-color: rgb(230, 103, 104);
  padding-bottom: 80px;
}

.chech-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.check-item {
  max-width: 250px;
}

.check-item>a {
  display: block;
  text-decoration: none;
  margin-bottom: 40px;
  text-align: center;
}

.check-item__icon {
  width: 167px;
  height: 167px;
  background-color: rgb(221, 94, 95);
  border: solid 2px transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

.anim-shake:hover i {
  animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
}

.anim-rotation:hover i {
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.anim-scalling:hover i {
  animation-name: scalling;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.anim-coloring:hover i {
  animation-name: coloring;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.check-item>a:hover .check-item__icon {
  color: $deepYellowColor;
  border: solid 2px $deepYellowColor;
}

.check-item__ttl {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 1.77;
  text-align: center;
  color: rgb(255, 255, 255);
}

.check-item>a:hover .check-item__ttl {
  color: $deepYellowColor;
}

.check-item__text {
  font-size: 14px;
  line-height: 1.79;
  color: rgb(255, 255, 255);
}

.view-btn--white {
  margin: 0 auto;
  color: #fff;
}