$yellowColor: rgb(236, 186, 11);
$deepYellowColor: rgb(250, 200, 27);
$trsTime: .2s;

@import './reset';
@import './global';
@import './header';
@import './banner';
@import './check';
@import './works';
@import './blog';
@import './map';
@import './footer';
@import './media';